<!DOCTYPE html>
<html>
<head>
    <title>Image Compression</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h2>Image Compression</h2>

    <form method="post" enctype="multipart/form-data">
        <div class="input-section">
            <input type="file" name="image" required>
            <label>Image Compression Rate:</label>
            <input type="number" name="k" min="1" required> %
        </div>
        <input type="submit" value="Compress Image">
    </form>

    {% if original_path %}
    <div class="image-section">
        <div>
            <p>Before</p>
            <div class="image-box">
                <img src="{{ original_path }}">
            </div>
        </div>

        <div>
            <p>After</p>
            <div class="image-box">
                <img src="{{ output_path }}">
            </div>
        </div>
    </div>

    <div class="result-info">
        <p>Image pixel difference percentage: {{ compression }} %</p>
        <p>Image compression time: {{ runtime }} seconds</p>
    </div>

    <div class="download-button">
        <a href="/download">Download ⬇</a>
    </div>
    {% endif %}
</div>
</body>
</html>
